[submodule "iTrace-VisualStudio"]
	path = iTrace-VisualStudio
	url = ../iTrace-VisualStudio.git
[submodule "iTrace-Eclipse"]
	path = iTrace-Eclipse
	url = ../iTrace-Eclipse.git
[submodule "iTrace-Core"]
	path = iTrace-Core
	url = ../iTrace-Core.git
[submodule "iTrace-Chrome"]
	path = iTrace-Chrome
	url = ../iTrace-Chrome.git
[submodule "iTrace-Atom"]
	path = iTrace-Atom
	url = ../iTrace-Atom.git
